<h2>
  Active Projects

  <% if policy(Project.new).create? %>
    <%= link_to "New Project", new_project_path,
        class: 'btn pull-right btn-primary' %>
  <% end %>
</h2>

<p>
  Active projects are incomplete and can be edited in their current state.
</p>

<%= render partial: 'table', locals: {projects: @active_projects} %>


<h2>Dormant Projects</h2>

<p>
  Dormant projects are either complete, or waiting for action by another
  collaborator.
</p>

<%= render partial: 'table', locals: {projects: @inactive_projects} %>


<div class="alert alert-subdued">
  Did you know that you can create and edit attachments and tasks without a
  web browser? <a href="/webdav/">Click here to find out how!</a>
</div>
