/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

.body {
    margin: 0 30px 30px 30px;
}

.form-inline input.form-control {
    width: 400px;
}

.button_to, .button_to div {
    display: inline;
}

h1 .btn.pull-right {
    position: relative;
    top: 2px;
}

select.form-control.input-xs {
    height: 26px;
    line-height: 26px;
    padding: 3px 5px;
}

.alert-subdued {
    background-color: #F2F4F5;
    border-color: #C4C6C7;
    color: #656666;
}

.spacer {
    display: block;
    height: 16px;
}

@media (max-width: 480px) {
    .body {
        margin: 0;
    }
}
