.state-indicator {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  font-size: 16px;
  margin: 16px 0;

  ol {
    display: table-row;
  }
  li {
    display: table-cell;
    padding: 6px 16px;
    border-right: 4px solid #fff;

    &:last-child {
      border-right: none;
    }
  }

  .btn-link {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  .active, .complete {
    background: #6aa3d5;

    a {
      color: #fff;
    }
  }
  .viewed {
    background: #357ebd;
    color: #fff;
  }
  .next {
    padding-top: 2px;
  }
  .incomplete {
    background: #eae8ec;
    color: #999;
  }
}
